.rowNr
{
  color: silver;
  font-size: 10px;
  text-align: right;
}

#website-logo
{
  max-height:30px;
}

#timer
{
  text-align: right;
  position: fixed;
  z-index: 100000;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: silver;
}

.navbar-collapse
{
  max-height: inherit !important;
}

.jsoncontainer
{
  height: 400px;
  width: 100%;
}

.fuelux .tree
{
  border: 0;
}

.fuelux .tree .tree-branch .tree-branch-header .glyphicon-play
{
  font-size: 14px;
}

.fuelux .tree .actions
{
  cursor: pointer;
}

.fuelux .tree .tree-branch-header:hover
{
  background-color: #f5f5f5;
}